# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

# source
lib
tests
package-lock.json
tsconfig.json
.prettierrc
.eslintrc.js
.commitlintrc.json
.release-it.json

# github
.github
CONTRIBUTING.md
renovate.json
